/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}


/* Positioning Classes */

#row-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-box-1 {
  width:66%;
}
.right-box-1 {
  width:32%;
}
#row-2 {
 display: flex;
 justify-content: space-between;
 width: 100%;
 padding-top: 1.5%;
}
.box-2 {
  width: 32%;
}
#row-3 {
display: flex;
width: 100%;
justify-content: space-between;
}
.left-box-3 {
  width: 32.5%;
  border-right: 1px dotted #ccc;
  padding-right: 20px;
}
.center-box-3 {
  width: 32.5%;
    border-right: 1px dotted #ccc;
  padding-right: 20px;
}
.right-box-3 {
 width: 32%;
}